$btn-pop: 3px;

@mixin btn-colors($bg, $text, $border){
    color: $text;
    background: $bg;
    border: $btn-border-width solid $border;
    
    &:hover {
        @if (lightness($text) < 50){
            color: darken($text, 6);
        }
        border-color: darken($border, 10);
        bottom: $btn-pop;
        z-index: 1;
        @include box-shadow( 0px $btn-pop 0 darken($border, 10));
    }

    &:active {
        bottom: 0;
        @include box-shadow( none );
    }
}

button,
a.btn {
    position: relative;
    @include adjust-font-size-to( 20px );
    font-family: $font-family-minute-labs;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.7em 1.4em;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    @include border-radius( 2px );
    @include transition( all .15s ease-out );

    @include btn-colors( $btn-normal-bg, $btn-normal-text, $btn-normal-border );

    // disabled
    &.disabled,
    &[disabled] {
        @include btn-colors( $btn-disabled-bg, $btn-disabled-text, $btn-disabled-border );

        &:hover {
            bottom: 0;
            @include box-shadow( none );
        }
    }

    // ok
    &.ok {
        @include btn-colors( $btn-ok-bg, $btn-ok-text, $btn-ok-border );
    }

    // danger
    &.danger {
        @include btn-colors( $btn-danger-bg, $btn-danger-text, $btn-danger-border );
    }

    // inverse
    &.inverse {
        @include btn-colors( $btn-inverse-bg, $btn-inverse-text, $btn-inverse-border );
    }
}

.btn-group {
    @include clearfix2;
    margin: rhythm(1) 0;

    button,
    a.btn {
        float: left;
        display: block;
        margin-left: -$btn-border-width;

        &:first-child {
            margin-left: 0;
        }
    }

    &.block {
        button,
        a.btn {
            float: none;
            width: 100%;
            margin-left: 0;
            margin-top: -$btn-border-width;

            &:first-child {
                margin-top: 0;
            }
        }        
    }
}