$font-family-minute-labs: 'sf_cartoonist_hand', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'pt-sans', Helvetica, Arial, sans-serif;


// buttons
// 

// normal
$btn-normal-bg: #FFFDCB;
$btn-normal-text: #444;
$btn-normal-border: #CECBA3;

// disabled
$btn-disabled-bg: #fafafa;
$btn-disabled-text: #888;
$btn-disabled-border: #ccc;

// ok
$btn-ok-bg: #8BFCA1;
$btn-ok-text: #17411F;
$btn-ok-border: #76AC81;

// danger
$btn-danger-bg: #FF9B89;
$btn-danger-text: #630F00;
$btn-danger-border: #B87063;

// inverse
$btn-inverse-bg: #2C2E57;
$btn-inverse-text: #fff;
$btn-inverse-border: #111;